@{
    //ChangeUserPassword
    @*Assumptions:
        (1) User has email address
        (2) UserName is passed into this screen from lookup (?eMail=xxxxx)
        (3) Requires Admin role
    *@
    if ( ! Roles.IsUserInRole("admin")) 
    { 
        Response.Redirect(@Href("~/AdminError"));
    }

    var success = false;
    //var userName = "rrrobson@swbell.net";
    var fullName = Request.QueryString["fullName"];
    var userName = Request.QueryString["email"];


    if (String.IsNullOrEmpty(userName))
    {
        ModelState.AddError("userName", "Must have email to process this change");
    }
    if (IsPost)
    {
        if (String.IsNullOrEmpty(Request["newPassword"]))
        {
            ModelState.AddError("newPassWord", "New password REQUIRED");
        }
        if (String.IsNullOrEmpty(Request["repeatPassword"]))
        {
            ModelState.AddError("repeatPassWord", "Re-entry of password REQUIRED");
        }
        if ((Request["repeatPassword"] != Request["newPassword"]))
        {
            ModelState.AddError("repeatPassWord", "new password must be the same as \r\n the re-entered password");
        }
        if (ModelState.IsValid)
        {
            try
            {
                var resetToken = WebSecurity.GeneratePasswordResetToken(userName, 60);
                WebSecurity.ResetPassword(resetToken, Request["newPassword"]);
                success = true;
            }
            catch (Exception e)
            {
                @:Error changing password
                @e
            }
        }//IsValid
    }//ispost
}


@if (!ModelState.IsValid)
{
    @Html.ValidationSummary("Please correct the following errors:")
}
<h1>Change Password for @fullName</h1>
<h4>(Email=@userName)</h4>
<br />Password Failures Since Last Request: @WebSecurity.GetPasswordFailuresSinceLastSuccess(userName)
<br />Last Password Failure: 
@{
    var lastFailureDate = WebSecurity.GetLastPasswordFailureDate(userName);
    if (lastFailureDate==DateTime.MinValue)
    {
        @:no password failures yet
    }
    else
    {
        @lastFailureDate
    }
}
<br />Login Account created: @WebSecurity.GetCreateDate(userName)
<br />
<br />

<form action="" method="post">
    <table>
        <tr>
            <td><label for="newPassword">Enter New Password</label> 
            <br /><br />@Html.ValidationMessage("newPassword")</td>
            <td><input type="text" id="newPassword" name="newPassword" /></td>
        </tr>
        <tr>
            <td><label for="repeatPassword">Enter the Password Again:</label>
            <br /><br />@Html.ValidationMessage("repeatPassword")</td>
            <td><input type="text" id="repeatPassword" name="repeatPassword" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
            
                @if (success)
                {
                    <p class="message success">Password Successfully Changed for @userName</p>
                }
                else
                {    
                    <input type="submit" value="Change Password for @userName" />
                }
            </td>
        </tr>
    </table>
</form>