@{
 
    var db = Database.Open("startersite");
    var failures=db.Query("SELECT UserProfile.Email as email "
        + ", UserProfile.UserId"
        + ", UserProfile.memberId"
        + ", webpages_Membership.PasswordFailuresSinceLastSuccess AS hits"
        + ", webpages_Membership.LastPasswordFailureDate as failedOn "
        + " FROM  UserProfile INNER JOIN "
        +" webpages_Membership ON UserProfile.UserId = webpages_Membership.UserId "
        + " WHERE (webpages_Membership.PasswordFailuresSinceLastSuccess > 0) "
        + " ORDER BY UserProfile.Email")        ;
        

    var mdb = Database.Open("rafino_members");
    var mbrs=mdb.Query("SELECT  id as mbrId, "
    + " CASE WHEN [rank] IS NULL THEN '' ELSE [rank] END " 
    + " + ' '+[name F] + ' ' + "
    + " CASE WHEN [name m] IS NULL THEN '' else [name m] + ' ' end + [name L] as [fullName] "
    + ", [E-mail] as email, [address]+' '+ [city]+', '+ [st]+' ' "
    + " + CASE WHEN [zip] IS NULL THEN '' ELSE [ZIP] END as theAddress"
    + ", [no address] AS Status " 
    + ", [name L] as lastName, [name f] as firstName "
    + " FROM rafino_member "
    + " WHERE  (NOT([E-Mail] IS NULL)) AND ([E-Mail] <> '')"
    + " ORDER BY [name L],[name f] ") 
    ;
    
    var theList = from f in failures
                  join m in mbrs on f.email equals m.email
                  orderby f.failedOn descending, m.lastName, m.firstName
                  select new
                  {
                      mbrId=m.mbrId,
                      member=m.fullName,
                      failures=f.hits,
                      email=m.email,
                      failedOn=f.failedOn
                  }
                  ;
       
    var x=theList.Count();
    <ul>
    @foreach (var i in theList)
    {
        <li>@i.mbrId 
        <a href="@Href("~/Crud_EditMember?mbrId="+i.mbrId)"
        title="click to review member record">@i.member</a> 
        <a href="@Href("~/Admin/LoginsForEmail?email="+i.email)"
        title="Click to see successfull logins" >@i.email</a>
        @i.failures failures;  
        
        Last failed on: @i.failedOn
        </li>
    }   
    </ul>
    
           }